* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Usage */

.d-flex {
  display: flex;
}

.v-flex {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.border-menu {
  border-radius: 10px;
}

.padding-menu {
  padding: 10px 15px;
}

/* header */

header {
  background-color: gray;
  padding: 20px;
}

nav {
  border: 1px solid red;
}

.c-white {
  color: white;
}

.mija {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.menu {
  justify-content: space-between;
  align-items: center;
}

.menu li {
  list-style: none;
  padding-right: 10px;
  font-size: 22px;
}

main {
  border: 1px solid red;
}

.logo-section {
  width: 150px;
  height: 50px;
  background-color: #cdd1d1;
  text-align: center;
  padding-top: 14px;
}

.menu-input {
  padding: 20px 20px 20px 40px;
  font-size: 22px;
  width: 400px;
}

.medium-dark {
  background-color: rgb(105, 104, 104);
}

.darker-menu {
  background-color: rgb(61, 61, 61);
}
.sect-1 {
  position: relative;
  width: 100%;
}

.input-container {
  position: relative;
}

.zoom {
  position: absolute;
  left: 14px;
  top: 22px;
  color: black;
  z-index: 999;
}

.in-btn-text {
  width: 250px;
  text-align: center;
  border: 1px solid red;
  /* margin: 0 auto; */
  position: absolute;
  top: 10px;
  right: 40%;
  z-index: 999;
  /* float: left; */
}

.top-articles {
  flex-wrap: wrap;
  position: relative;
}

.style-articles {
  width: 30%;
  padding: 120px 10px 20px 60px;
}


.article-1 {
  background-color: #bbbdbf;
}

.article-2 {
  background-color: #acadad;
}

.article-3 {
  background: #cdd1d1;
}

.article-4 {
  background-color: #d6d6d6;
}

.img-profile {
  width: 70px;
  height: 70px;
  border: 5px solid gray;
  border-radius: 7px;
  transform: rotate(-20deg);
  transform-origin: left bottom;
}

.img-profile:hover {
  transform: rotate(0deg);
}

.top-article-main-text {
  font-size: 40px;
  width: 500px;
}

.top-article-main-text span {
  font-size: 15px;
}

.hash p {
  margin: 10px;
}

.article-arrow {
  font-size: 20px;
}