* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:  #d6d6d6;
}

/* Global Usage */

.d-flex {
  display: flex;
}

.v-flex {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.border-menu {
  border-radius: 10px;
}

.padding-menu {
  padding: 10px 15px;
}

.c-white {
  color: white;
}

.bkground {
  background-color: #d6d6d6;
}

.medium-bkground {
  background-color:  #acadad;
}

.c-gray {
  color: gray;
}

.c-black {
  color: black;
}

.c-light {
  color: rgb(77, 76, 76);
}

.mija {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.medium-dark {
  background-color: rgb(105, 104, 104);
}

.darker-menu {
  background-color: rgb(61, 61, 61);
}

.justify-center {
  justify-content: center;
  align-items: center;
}

/* header */

header {
  padding: 20px;
}

.menu {
  justify-content: space-between;
  align-items: center;
}

.menu li {
  list-style: none;
  padding-right: 10px;
  font-size: 18px;
}

main {
  border-top: 1px solid gray;
}

.logo-section {
  width: 150px;
  height: 50px;
  background-color: #cdd1d1;
  text-align: center;
  padding-top: 14px;
}

.menu-input {
  padding: 20px 20px 20px 40px;
  font-size: 22px;
  width: 400px;
}


.sect-1 {
  position: relative;
  width: 100%;
}

.input-container {
  position: relative;
}

.zoom {
  position: absolute;
  left: 14px;
  top: 22px;
  z-index: 999;
}

.in-btn-text {
  width: 25%;
  text-align: center;
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 38%;
  z-index: 999;
}

.in-btn-text span mark {
  line-height: 0.9;
  padding: 5px 0;
}

.top-articles {
  flex-wrap: wrap;
  position: relative;
}

.style-articles {
  width: 50%;
  padding: 70px 10px 20px 60px;
  height: 570px;
  position: relative;
}

.article-1 {
  background-color: #bbbdbf;
  padding-top: 150px;
}

.article-2 {
  background-color: #acadad;
  padding-top: 150px;
}

.article-3 {
  background: #cdd1d1;
}

.article-4 {
  background-color: #d6d6d6 !important;
}

.img-profile {
  width: 70px;
  height: 70px;
  border: 5px solid gray;
  border-radius: 7px;
  transform: rotate(-20deg);
  transform-origin: left bottom;
}

.img-profile:hover {
  transform: rotate(0deg);
}

.top-article-main-text {
  font-size: 40px;
  width: 500px;
  margin: 20px 0 30px 0;
}

.top-article-main-text span {
  font-size: 15px;
}

.hash p {
  margin: 10px 10px 10px 0;
}

.article-arrow {
  font-size: 20px;
  position: absolute;
  bottom: 30px;
}

.article-row-1 {
  width: 480px;
  height: 400px;
  padding: 20px;
  position: relative;
  background-color: #d6d6d6;
}

.article-row-1 h1 {
  font-size: 30px;
  padding: 20px 0;
  text-decoration: underline;
}

.article-spacing {
  font-size: 12px;
  padding-bottom: 20px;
}

.article-row-1 h5 span {
  text-decoration: underline;
}

.corner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 70px;
}

.corner i {
  position: relative;
  z-index: 999;
  top: 40%;
  left: 40%;
}

.corner:hover {
  background-color: gray;
}

.article-row-1:hover {
  width: 520px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.inline-text {
  background-color: #d6d6d6;
  padding: 20px auto;
  margin: 50px 0;
}

.w-480 {
  width: 480px;
}

.shop-section {
  padding-top: 40px;
}

.shop-div img {
  width: 350px;
  margin: 0 auto;
}

.shop-div {
  padding: 40px 40px;
  justify-content: flex-start;
  text-align: center;
}

.shop-div p {
  padding: 20px 0;
}

.shop-div a {
  text-decoration: none;
}

.shop-div button {
  width: 170px;
  height: 30px;
  font-size: 13px;
  margin: 0 auto;
}

.members-div {
  border-radius: 10px;
  padding: 15px 5px;
}

.members-div img {
width: 250px;
margin: 0 auto;
}

.members-div a {
  text-decoration: none;
  text-decoration: underline;
}

.members-div h1 {
  font-size: 40px;
  padding: 20px 0;
}

.members-div p {
  width: 340px;
  margin: 0 auto;
  padding: 20px 0;
  line-height: 35px;
}

.members-div button {
  width: 250px;
  height: 45px;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 18px;
}

.sign-in-section {
  font-size: 12px;
}

.bottom-image {
  border: 1px solid gray;
  margin: 0 auto;
  width: 800px;
  align-items: center;
}

.bottom-image img {
  width: 600px;
  margin: 0 auto;
}

.bottom-info {
  width: 80%;
  margin: 0 auto;
  
}

.bottom-info h1 a {
  font-size: 25px;
  margin-bottom: 20px;
}

.bottom-info p {
  font-size: 18px;
  
}

.mid-section {
  margin: 20px 0;
}

.mid-section h1 {
  margin: 20px auto;
  font-size: 40px;
}

.mid-section p {
  font-size: 20px;
  width: 60%;

}
.margin-20-auto {
  margin: 20px auto;
}

.mid-section button {
  width: 200px;
  height: 50px;

}

.mid-section img {
  width: 70%;
}

.person-section img {
  width: 200px;
  height: 200px;
}

.person-section {
  margin: 40px 80px 40px 50px; 
  padding: 90px 60px 10px 80px;
}

.person-div {
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 50px;
  padding-bottom: 50px;
}
.person-div h4 {
  padding-bottom: 50px;
}

.person-div p {
  line-height: 2rem;
}

.person-div a {
  text-decoration: none;
}

.persons-section {
  margin: 20px 80px;
  padding: 20px 20px;
}

.persons-text {
  padding-left: 30px;
}

.book-section {
  padding: 80px;
}

.book-section h6 {
  font-size: 15px;
  margin-bottom: 20px;
}

.book-section h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

.book-section p {
  font-size: 20px;
  line-height: 1.6;
  width: 1200px;
}

.inside button {
  width: 1300px;
  height: 50px;
  margin: 20px 0;
}

.book {
  float: right;
  overflow: auto;
  width: 200px;
  height: 300px;
  margin-left: 70px;
  filter: grayscale(100%);
}

.inside button {
  width: 400px;
  font-size: 20px;
}

img {
  filter: grayscale(100%);
}

.smashing-guide-top {
  width: 90%;
  margin: 30px 60px;
}

.l-top {
  height: px;
  border: 1px solid gray;
  padding: 30px 30px;
  background-color: white;
  margin-right: 40px;
}

.l-top h3 {
  font-size: 15px;
  margin-bottom: 10px;
}

.l-top h1 a{
  font-size: 35px;
}

.l-top p {
  margin-top: 30px;
  line-height: 1.7;
  font-size: 20px;
}

.l-top button {
  width: 420px;
  height: 50px;
  font-size: 22px;
  margin: 20px 0;
}

.smashing-guide-bottom {
  width: 90%;
  margin: 30px 75px;
}

.bottom-left {
  height: 600px;
  width: 45%;
  margin-right: 40px;
  padding: 30px;
}

.last-image {
  width: 48.5%;
  border: 1px solid gray;
  padding: 20px 35px;
  margin: 0 12px;
}

.last-image img {
  width: 300px;
  margin: 20px auto;
}

.last-image h2 a {
  font-size: 35px;
}

.last-image p {
  font-size: 20px;
  line-height: 1.5;
}

.subscribe {
  width: 450px;
  margin: 20px 0
}

.subscribe-button {
  width: 100px;
  height: 50px;
  font-size: 22px;
  border: none;
  background-color: gray;
}

.subscribe-input {
  width: 320px;
  height: 50px;
  font-size: 22px;
}

#last {
  width: 280px;
  font-size: 15px;
  margin: 10px auto;
  padding: 10px;
}

footer ul {
  flex-wrap: wrap;
  justify-content: center;
}

footer ul li {
  /* list-style: none; */
  line-height: 40px;
  margin-left: 30px;
}

footer p {
  line-height: 1.7;
  font-size: 16px;
}

.details {
  width: 600px;
  margin: 10px auto;
}

.details ul li{
  list-style: none;
}